{% extends 'base.html.twig' %}

{% block title %}Author Book{% endblock %}

{% block body %}
<style>
    
</style>

<div class="">
    <h4 class="p-1 mb-2 rounded fw-bold" style="color: #F4B740 ;">Book Details</h4>

    <div class="row border-bottom mb-4">
        <div class="col">
            <p class="fw-bold">Title</p>
            <p>{{book.title}}</p>
        </div>
    </div>

    <div class="row border-bottom mb-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">publisher</p>
            <p>{{book.publisher}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">publisher</p>
            <p>{{book.publisher}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">publicationPlace</p>
            <p>{{book.publicationPlace}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">publicationPlaceStated</p>
            <p>{{book.publicationPlaceStated}}</p>
        </div>
    </div>

    <div class="row border-bottom mb-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">publicationDate</p>
            <p>{{book.publicationDate}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">publicationDateStated</p>
            <p>{{book.publicationDateStated}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">source</p>
            <p>{{book.source}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">volNumber</p>
            <p>{{book.typeDocument}}</p>
        </div>
    </div>

    <div class="row border-bottom mb-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">volume</p>
            <p>{{book.volume}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">multiVolume</p>
            <p>{{book.multiVolume}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">status</p>
            <p>{{book.status}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">Media</p>
            <p>{{book.typeDocument}}</p>
        </div>
    </div>

    <div class="row border-bottom mb-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">marginalia</p>
            <p>{{book.marginalia}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">library</p>
            <p>{{book.library}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">cote</p>
            <p>{{book.cote}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">provenance</p>
            <p>{{book.provenance}}</p>
        </div>
    </div>

    <div class="row border-bottom mb-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">ferney</p>
            <p>{{book.ferney}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">potPourri</p>
            <p>{{book.potPourri}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">externalResource</p>
            <p>{{book.externalResource}}</p>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="fw-bold">digitalVoltaire</p>
            <p>{{book.digitalVoltaire}}</p>
        </div>
    </div>
               

    {% if book.author | length > 0 or book.translator | length > 0 or book.editor | length > 0 or book.copyst | length >
    0%}
    <p class="fw-bold my-1">Contributors:</p>

    {% if book.author | length > 0 %}
    {% for author in book.author %}
    <a href="{{path('app_author', {'id':author.id})}}" class=" btn btn-sm btn-outline-primary">{{author.firstName}}
        {{author.lastName}} - {{author.status}}</a href="">
    {% endfor %}
    {% endif %}

    {% if book.translator | length > 0 %}
    {% for author in book.translator %}
    <a href="{{path('app_author', {'id':author.id})}}" class=" m-1 btn btn-sm btn-outline-success">{{author.firstName}}
        {{author.lastName}} - {{author.status}}</a>
    {% endfor %}
    {% endif %}

    {% if book.editor | length > 0 %}
    {% for author in book.editor %}
    <a href="{{path('app_author', {'id':author.id})}}" class=" btn btn-sm btn-outline-warning">{{author.firstName}}
        {{author.lastName}} - {{author.status}}</a>
    {% endfor %}
    {% endif %}

    {% if book.copyst | length > 0 %}
    {% for author in book.copyst %}
    <a href="{{path('app_author', {'id':author.id})}}" class=" btn btn-sm btn-outline-secondary">{{author.firstName}}
        {{author.lastName}} - {{author.status}}</a>
    {% endfor %}
    {% endif %}
    <br>
    {% endif %}
    {% if book.classification | length > 0 %}
    <p class="fw-bold my-1">Classification: </p>
    {% for classification in book.classification %}
    <a href="{{path('app_classification', {'id':classification.id})}}"
        class="btn btn-sm btn-outline-dark">{{classification.category}} {{classification.description}} </a>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}